<html>

<head>
    <title>sodoku vue</title>
    <link rel="stylesheet" href="solver-vue.css">
    <script src="../vue.js"></script>
</head>

<body>

    <div id="sodoku_board" v-cloak>
        <div class="central">
            <div class="numbers" @mouseout="clearHint">
                <div class="row" v-for="(item,i) in fill" :key="item.id">
                    <div class="cell" v-for="(cell,j) in item" :key="item.id" @mouseover="nextHint(i,j,$event)">
                        <input v-model.number="fill[i][j]" type="text" @blur="validAlert(i,j,$event)"
                            :disabled="disabled[i][j]" />
                        <div class="hintPanel">
                            {{ hint }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="remote">
                <div class="hint">
                    {{ hint }}
                </div>

                <div class="problemLock remoteButton" @click="lock">
                    <div class="lockIcon">
                        <i class="iconfont">&#xe613;</i>
                    </div>
                    <div class="lockInfo">
                        锁定输入值
                    </div>
                </div>

                <div class="problemUnlock remoteButton" @click="unlock">
                    <div class="lockIcon">
                        <i class="iconfont">&#xe615;</i>
                    </div>
                    <div class="lockInfo">
                        解锁输入值
                    </div>
                </div>

                <div class="draftErase remoteButton" @click="erase">

                    <div class="lockIcon">
                        <i class="iconfont">&#xe716;</i>
                    </div>
                    <div class="lockInfo">
                        清除未锁定
                    </div>
                </div>
                <div class="allErase remoteButton" @click="unlock(),clearAll()">
                    <div class="lockIcon">
                        <i class="iconfont">&#xe62c;</i>
                    </div>
                    <div class="lockInfo">
                        新题目
                    </div>
                </div>
            </div>
        </div>
        <div class="analysis">
            <div class="checks">
                <div class="row" v-for="(item,i) in fill" :key="item.id">
                    <div class="checks_cell" v-for="(cell,j) in item" :key="item.id">
                        {{ fill[i][j] }}
                    </div>
                </div>
            </div>

            <div class="rowStats">
                <div class="rowCheck" v-for="item in rowRemains()" :key="item.id">
                    <div class="cellCheckRow" v-for="cell in item" :key="item.id">
                        {{ cell }}
                    </div>
                </div>
            </div>

            <div class="colStats">
                <div class="colCheck" v-for="item in colRemains()" :key="item.id">
                    <div class="cellCheckCol" v-for="cell in item" :key="item.id">
                        {{ cell }}
                    </div>
                </div>
            </div>

            <div class="blockStats">
                <div class="blockCheck" v-for="item in blockRemains()" :key="item.id">
                    <div class="cellCheckBlock" v-for="cell in item" :key="item.id">
                        {{ cell }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mark">
            <div class="peek" v-for="(item,i) in mark" :key="item.id" @mouseover="reveal(item)" @mouseout="revealHide">
                {{ item }}
            </div>
        </div>



    </div>
    <script src="solver-vue.js"></script>

</body>

</html>